<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ws_bataSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1995/ws_bata.asmx" binding="basicHttpBinding"
                bindingConfiguration="ws_bataSoap" contract="ServiceBata.ws_bataSoap"
                name="ws_bataSoap" />
        </client>
    </system.serviceModel>
</configuration>
